<div class="preloader align-items-center justify-content-center position-fixed w-100 h-100" style="background-color: #515151">
  <img src="assets/img/preloader.gif" alt="loading..." class="img-fluid">
</div>