<div class="preloader align-items-center justify-content-center position-fixed w-100 h-100">
  <!-- <img src="assets/img/preloader.gif" alt="loading..." class="img-fluid"> -->
  <video autoplay="autoplay" muted>
    <source src="assets/img/404.mp4" type="video/mp4">
  </video>
</div>