<section class="content-block bg-light-blue">
  <div class="container no-gutter-on-sm">
    <div class="row">
      <div class="col-12">
        <div class="mb-4 mb-lg-5 text-center text-lg-left" data-aos="fade-right">
          <h2>Технології</h2>
        </div>
      </div>
    </div>
    <!-- Technology -->
    <div class="row technology" data-aos="fade-up">
      <div class="col-12 col-lg-6 col-xl-5 order-2 order-lg-1 text-side">
        <div class="dark-text-block">
          <h3>Високотехнічне обладнання</h3>
          <p>
            Ми використовуємо стоматологічні установки нового покоління від одного з кращих  світових виробників “KaVo. Dental Excellence”. Інноваційне устаткування допомагає нам якісно та оперативно діагностувати та усувати навіть найскладніші зубні проблеми. Сучасні технології роблять відвідування стоматолога у нашій клініці максимально  безпечними, комфортним, а процедури безболісним. 
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-8 offset-lg-4 order-1 order-lg-2 photo-side">
        <div>
          <img src="assets/img/tech-1.jpg" alt="technology">
        </div>
      </div>
    </div>
    <!-- /Technology -->
    <!-- Technology reverse -->
    <div class="row technology technology_reverse mt-5" data-aos="fade-up">
      <div class="col-12 col-lg-6 col-xl-5 order-2 order-lg-1 text-side">
        <div class="dark-text-block">
          <h3>Одні з кращих зуботехнічних лабораторій</h3>
          <p>
            Ми співпрацюємо із кращими зуботехнічними лабораторіями, які виготовляють нам у найкоротші терміни якісні ортопедичні та ортодонтичні конструкції для лікування зубів. Так ми набагато швидше здійснюємо Вашу мрію про ідеальну усмішку. 
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-7 col-xl-8 col-xl-4 order-1 order-lg-2 photo-side">
        <div>
          <img src="assets/img/tech-2.jpg" alt="technology">
        </div>
      </div>
    </div>
    <!-- /Technology reverse -->
    <!-- Technology -->
    <div class="row technology mt-5" data-aos="fade-up">
      <div class="col-12 col-lg-6 col-xl-5 order-2 order-lg-1 text-side">
        <div class="dark-text-block">
          <h3>Міжнародні стандарти безпека</h3>
          <p>
            Ми дотримуємось міжнародних стандартів стерилізації та зберігання всього стоматологічного інструментарію. У нашій клініці новітні, німецькі стерилізаційні камери “MELAG” та пакувальні машини “MELAG”, які одразу після стерилізації загортають інструменти у спеціальні герметичні упаковки. Це забезпечує найвищий рівень захисту для наших лікарів та пацієнтів.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-8 offset-lg-4 order-1 order-lg-2 photo-side">
        <div>
          <img src="assets/img/tech-3.jpg" alt="technology">
        </div>
      </div>
    </div>
    <!-- /Technology -->
  </div>
</section>