<section class="content-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-4 mb-lg-2 text-center text-lg-left" data-aos="fade-right">
          <h2>Про клініку <!--Prima Dent--></h2>
        </div>
      </div>
    </div>
    <div class="row" data-aos="fade-down">
      <div class="col-12">
        <div class="dark-text-block">
          <img src="assets/img/logo.png" alt="prima dent" class="img-fluid">
          <p>
            Prima Dent - стоматологічна клініка для всієї сім’ї. <b>Тут народжуються ідеальні усмішки.</b>
          </p>
          <p>
            Новітні медичні технології в руках наших досвідчених стоматологів роблять лікування максимально швидким, комфортним та безболісним. 
          </p>
          <p>
            Професіонали Prima Dent щодня борються із зубним болем, неправильним прикусом, карієсом та іншими захворюваннями порожнини рота. І все заради того, щоб Ви та Ваші рідні сміялись частіше й більше ніколи не соромились своєї усмішки. 
          </p>
          <p>
            Через здорові, рівні та білосніжні зуби ми допомагаємо повернути привабливість та впевненість у собі. Так ми точно знаємо, що робимо людей навколо щасливими та здоровими. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>