<section class="content-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-2 mb-lg-2 text-center text-lg-left" data-aos="fade-right">
          <h2>Фотогалерея</h2>
        </div>
      </div>
    </div>
    <div class="row mt-3 mt-lg-4 about-gallery" data-aos="fade-down">
      <div class="col-12">
        <div class="carousel__gallery">
          {{#about-gallery-slides}}
          <!-- Slide -->
          <div class="gallery__slide p-3">
            <div class="row">
              <div class="col-12 col-lg-6 photo-wraper">
                <a href="#" class="photo-item" style="background-image: url(assets/img/gal-1.jpg)"></a>
              </div>
              <div class="col-6 col-lg-3 photo-wraper">
                <a href="#" class="photo-item" style="background-image: url(assets/img/gal-2.jpg)"></a>
              </div>
              <div class="col-6 col-lg-3 photo-wraper">
                <a href="#" class="photo-item" style="background-image: url(assets/img/gal-3.jpg)"></a>
              </div>
              <div class="col-6 col-lg-3 photo-wraper">
                <a href="#" class="photo-item" style="background-image: url(assets/img/gal-4.jpg)"></a>
              </div>
              <div class="col-6 col-lg-3 photo-wraper">
                <a href="#" class="photo-item" style="background-image: url(assets/img/gal-5.jpg)"></a>
              </div>
              <div class="col-12 col-lg-6 photo-wraper">
                <a href="#" class="photo-item" style="background-image: url(assets/img/gal-6.jpg)"></a>
              </div>
            </div>
          </div>
          <!-- /Slide -->
          {{/about-gallery-slides}}
        </div>
      </div>
      <div class="col-12 mt-3 mt-lg-4 text-center">
        <div class="dots-place dots-place_dark"></div>
      </div>
    </div>
  </div>
</section>