<section class="content-block">
  <div class="container no-gutter-on-sm">
    <div class="row mt-5">
      <div class="col-12">
        <div class="d-block d-lg-none text-center mb-4">
          <h2>Про клініку</h2>
        </div>
      </div>
    </div>
    <div class="row about-us">
      <div class="col-12 col-lg-9">
        <div class="about-us__thumbnail" 
             data-aos="fade-right" 
             style="background-image: url(assets/img/about-us-thumbnail.jpg)">
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-5 about-us__descr">
        <div class="d-none d-lg-block text-right mb-4">
          <h2>Про клініку</h2>
        </div>
        <div class="dark-text-block" data-aos="fade-left" data-aos-delay="800">
          <p>
            Prima Dent - стоматологічна клініка для всієї сім’ї. <b>Тут народжуються ідеальні усмішки.</b>
          </p>
          <p>
            Новітні медичні технології в руках наших досвідчених стоматологів роблять лікування максимально швидким, комфортним та безболісним.
          </p>
          <p>
            Професіонали Prima Dent щодня борються із зубним болем, неправильним прикусом, карієсом та іншими захворюваннями порожнини рота. І все заради того, щоб Ви та Ваші рідні сміялись частіше й більше ніколи не соромились своєї усмішки. 
          </p>
          <div class="text-right mt-4">
            <a href="#" class="btn btn_red" data-toggle="modal" data-target="#about-modal">Більше інформації</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade about-modal" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="dark-text-block bg-light-blue">
                <div class="text-right">
                  <button type="button" class="close position-relative d-inline-block" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <h3>Про клініку</h3>
                <p>
                  Prima Dent - стоматологічна клініка для всієї сім’ї. <b>Тут народжуються ідеальні усмішки.</b>
                </p>
                <p>
                  Новітні медичні технології в руках наших досвідчених стоматологів роблять лікування максимально швидким, комфортним та безболісним.
                </p>
                <p>
                  Професіонали Prima Dent щодня борються із зубним болем, неправильним прикусом, карієсом та іншими захворюваннями порожнини рота. І все заради того, щоб Ви та Ваші рідні сміялись частіше й більше ніколи не соромились своєї усмішки. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>