<section class="content-block">
  <div class="container no-gutter-on-sm">
    <div class="row about-us">
      <div class="col-12 col-lg-9">
        <div class="d-block d-lg-none text-center mb-4">
          <h2>Про клініку</h2>
        </div>
        <div class="about-us__thumbnail" 
             data-aos="fade-right" 
             style="background-image: url(assets/img/about-us-thumbnail.jpg)">
        </div>
      </div>
      <div class="col-12 col-lg-5 about-us__descr">
        <div class="dark-text-block" data-aos="fade-left" data-aos-delay="800">
          <div class="d-none d-lg-block">
            <h2>Про клініку</h2>
          </div>
          <p>
            Prima Dent - стоматологічна клініка для всієї сім’ї. <b>Тут народжуються ідеальні усмішки.</b>
          </p>
          <p>
            Новітні медичні технології в руках наших досвідчених стоматологів роблять лікування максимально швидким, комфортним та безболісним.
          </p>
          <p>
            Професіонали Prima Dent щодня борються із зубним болем, неправильним прикусом, карієсом та іншими захворюваннями порожнини рота. І все заради того, щоб Ви та Ваші рідні сміялись частіше й більше ніколи не соромились своєї усмішки. 
          </p>
          <div class="text-right mt-4">
            <a href="" class="btn btn_red">Дізнатись більше</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>