<section class="content-block bg-light-blue">
  <div class="container no-gutter-on-sm">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-xl-6">
        <div class="mb-4 mb-lg-2 pl-2 text-center text-lg-left" data-aos="fade-right">
          <h2>Відгуки клієнтів</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6 mt-lg-1">
          <div class="reviews__carousel" data-aos="fade-up">
            {{#reviews-slides}}
            <div class="reviews__slide pt-lg-5 pr-lg-5">
              <div class="reviews__photo mb-1" style="background-image: url(assets/img/review-1.jpg)"></div>
              <div class="reviews__review">
                <div class="dark-text-block">
                  <h3>Новосад Христина</h3>
                  <p>
                    Перед весіллям хотілося привести в порядок свою усмішку. В клініці Prima Dent порадили зробити професійну гігієну, щоб прибрати наліт 
                  </p>
                  <div class="d-block d-lg-none mt-3">
                    <a href="#" class="btn btn_red">Написати відгук <i class="icon icon-down-arr"></i></a>
                  </div>
                </div>
              </div>
            </div>
            {{/reviews-slides}}
          </div>
        </div>
        <div class="w-100 mt-3"></div>
        <div class="col-12 col-lg-8 col-xl-6 d-none d-lg-block" data-aos="fade-down">
          <div class="d-flex justify-content-between align-items-center">
            <div class="dots-place dots-place_wo-arr dots-place_dark"></div>
            <a href="#" class="btn btn_red">Написати відгук <i class="icon icon-down-arr"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>