<section class="content-block registered-block mt-5">
  <div class="container no-gutter-on-sm">
    <div class="row about-us contacts">
      <div class="col-12 col-lg-9">
        <div class="about-us__thumbnail" 
             data-aos="fade-right" 
             style="background-image: url(assets/img/about-us-thumbnail.jpg)">
        </div>
      </div>
      <div class="col-12 col-lg-5 about-us__descr">
        <div class="dark-text-block" data-aos="fade-left" data-aos-delay="800">
          <form action="">
            <div class="row">
              <div class="col-12 mb-3">
                <label for="name">Ім’я</label>
                <input type="text" placeholder="Ім’я" id="name">
              </div>
              <div class="col-12 mb-3">
                <label for="surname">Прізвище</label>
                <input type="text" placeholder="Прізвище" id="surname">
              </div>
              <div class="col-12 mb-3">
                <img src="assets/img/small-photo-1.jpg" alt="doctor" class="img-fluid">
              </div>
              <div class="col-12 mb-3">
                <label for="doctor">Оберіть стоматолога</label>
                <select id="doctor">
                  <option value="0">Воронін Максим Валерійович</option>
                  <option value="1">Воронін Максим Валерійович</option>
                  <option value="2">Воронін Максим Валерійович</option>
                  <option value="3">Воронін Максим Валерійович</option>
                </select>
              </div>
              <div class="col-12 mb-3">
                <label for="date">Оберіть дату</label>
                <input type="text" id="date">
              </div>
              <div class="col-12 text-right mt-3">
                <a href="#" class="btn btn_red">Записатись</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>