<!-- <section class="content-block registered-block mt-5"> -->
<section class="content-block content-block_registered">
  <div class="container no-gutter-on-sm">
    <div class="row about-us contacts">
      <div class="col-12 col-lg-9">
        <div class="about-us__thumbnail" 
             data-aos="fade-right" 
             style="background-image: url(assets/img/about-us-thumbnail.jpg)">
        </div>
      </div>
      <div class="col-12 col-lg-5 about-us__descr">
        <div class="dark-text-block" data-aos="fade-left" data-aos-delay="800">
          <form action="">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6 mb-3">
                <label for="name">Ім’я</label>
                <input type="text" placeholder="Ім’я" id="name">
              </div>
              <div class="col-12 col-md-6 col-lg-6 mb-3">
                <label for="surname">Прізвище</label>
                <input type="text" placeholder="Прізвище" id="surname">
              </div>
              <div class="col-12 col-md-6 col-lg-6 mb-3">
                <div class="doc-photos-wraper">
                  <img src="assets/img/small-photo-1.jpg" alt="doctor" class="img-fluid" id="doc-1">
                  <img src="assets/img/review-1.jpg" alt="doctor" class="img-fluid" id="doc-2">
                  <img src="assets/img/doctor-2.jpg" alt="doctor" class="img-fluid" id="doc-3">
                  <img src="assets/img/doctor-3.jpg" alt="doctor" class="img-fluid" id="doc-4">
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6 mb-3">
                <div>
                  <label for="phone">Телефон</label>
                  <input type="text" placeholder="(099) 999 99 99" id="phone">
                </div>
                <div class="mt-3">
                  <label for="doctor">Оберіть стоматолога</label>
                  <select id="doctor">
                    <option value="0" data-doctor="doc-1">Воронін Максим Валерійович</option>
                    <option value="1" data-doctor="doc-2">Воронін Максим Валерійович</option>
                    <option value="2" data-doctor="doc-3">Воронін Максим Валерійович</option>
                    <option value="3" data-doctor="doc-4">Воронін Максим Валерійович</option>
                  </select>
                </div>
                <div class="mt-3">
                  <label for="problem" class="mt-auto">Що вас турбує?</label>
                  <select id="problem">
                    <option value="0">Кровоточивість ясен</option>
                    <option value="1">Зубний біль від солодкого</option>
                    <option value="2">Їжа весь час потрапляє між зубів</option>
                    <option value="3">Поганий запах з рота</option>
                    <option value="3">Набряк обличчя з однієї сторони</option>
                    <option value="3">Стріляє у вусі</option>
                    <option value="3">Інше</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6 mb-3">
                <label for="time">Оберіть час</label>
                <select id="time">
                  <option value="0">9:00 - 11:00</option>
                  <option value="1">11:00 - 13:00</option>
                  <option value="2">13:00 - 15:00</option>
                  <option value="3">15:00 - 17:00</option>
                  <option value="3">17:00 - 19:00</option>
                </select>
              </div>
              <div class="col-12 col-md-6 col-lg-6 mb-3">
                <label for="date">Оберіть дату</label>
                <input type="text" id="date">
              </div>
              <div class="col-12 mb-3">
                <textarea placeholder="Ваш коментар"></textarea>
              </div>
              <div class="col-12 text-right">
                <input type="checkbox" name="first-time" id="first-time">
                <label for="first-time">Перший раз</label>
              </div>
              <div class="col-12 text-right mt-3">
                <a href="#" class="btn btn_red">Записатись</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>