<section class="content-block">
  <div class="container">
    <div class="row contacts justify-content-between align-items-top">
      <div class="col-12 col-lg-4">
        <div class="mb-4 pl-4 text-center text-lg-left" data-aos="fade-right">
          <h2>Контакти</h2>
        </div>
        <div class="dark-text-block red-on-back" data-aos="fade-down" data-aos-delay="300">
          <ul>
            <li>
              <i class="icon icon-mail-solid"></i>
              <a href="mailto:info@primadent.com.ua">info@primadent.com.ua</a>
            </li>
            <li>
              <i class="icon icon-phone"></i>
              <a href="tel:0985757574">098-57-57-57-4</a>
              <a href="tel:0735757574">073-57-57-57-4</a>
            </li>
            <li>
              <i class="icon icon-target-solid"></i>
              <span>
                Львів, Княгині Ольги 57а
              </span>
            </li>
            <li class="mb-0">
              <a href="#" class="vacations btn btn_red">
                Вакансії
                <i class="icon icon-down-arr"></i>
              </a>
              <ul class="vacations-list">
                <li><a href="#">Ортодонт</a></li>
                <li><a href="#">Стоматолог-хірург</a></li>
                <li><a href="#">Адміністратор</a></li>
                <li><a href="#">Прибиральниця</a></li>
              </ul>
              <form action="#" class="review-form mt-5">
                <label for="res-name">Вкажіть ваше ім'я</label>
                <input type="text" placeholder="Ваше ім'я" required="" class="d-block w-100 mb-3" id="res-name">
                <label for="res-surname">Вкажіть ваше прізвище</label>
                <input type="text" placeholder="Ваше прізвище" required="" class="d-block w-100 mb-3" id="res-surname">
                <label for="res-phone">Ваш номер телефону</label>
                <input type="text" placeholder="Телефон" required="" class="d-block w-100 mb-3" id="res-phone">
                <label for="res-review">Коментар</label>
                <textarea placeholder="Ваш коментар" rows="3" required="" class="d-block w-100 mb-3" id="res-review"></textarea>
                <label for="res-position">Позиція на, яку ви претендуєте</label>
                <select id="res-position" class="mb-3">
                  <option value="0">Ортодонт</option>
                  <option value="1">Стоматолог-хірург</option>
                  <option value="2">Адміністратор</option>
                  <option value="3">Прибиральниця</option>
                </select>
                <label for="resume"><span>Завантажити резюме</span></label>
                <div class="fileinput">
                  <input type="file" id="resume" class="d-block w-100 mb-3">
                </div>
                <input type="submit" value="Надіслати" class="btn btn_red">
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6 mt-5 mt-lg-0">
        <div class="mb-4 pl-0 pl-lg-4 text-center text-lg-left" data-aos="fade-right">
          <h2>Записатись на прийом</h2>
        </div>
        <div class="dark-text-block red-on-back" data-aos="fade-down" data-aos-delay="300">
          <form action="">
            <div class="row">
              <div class="col-12 col-lg-6 mb-3">
                <label for="name">Ім’я</label>
                <input type="text" placeholder="Ім’я" id="name">
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="surname">Прізвище</label>
                <input type="text" placeholder="Прізвище" id="surname">
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="phone">Телефон</label>
                <input type="text" placeholder="(099) 999 99 99" id="phone">
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="doctor">Оберіть стоматолога</label>
                <select id="doctor">
                  <option value="0">Воронін Максим Валерійович</option>
                  <option value="1">Воронін Максим Валерійович</option>
                  <option value="2">Воронін Максим Валерійович</option>
                  <option value="3">Воронін Максим Валерійович</option>
                </select>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="date">Оберіть дату</label>
                <input type="text" id="date">
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="time">Оберіть час</label>
                <select id="time">
                  <option value="0">9:00 - 11:00</option>
                  <option value="1">11:00 - 13:00</option>
                  <option value="2">13:00 - 15:00</option>
                  <option value="3">15:00 - 17:00</option>
                  <option value="3">17:00 - 19:00</option>
                </select>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="problem">Що вас турбує?</label>
                <select id="problem">
                  <option value="0">Кровоточивість ясен</option>
                  <option value="1">Зубний біль від солодкого</option>
                  <option value="2">Їжа весь час потрапляє між зубів</option>
                  <option value="3">Поганий запах з рота</option>
                  <option value="3">Набряк обличчя з однієї сторони</option>
                  <option value="3">Стріляє у вусі</option>
                  <option value="3">Інше</option>
                </select>
              </div>
              <div class="col-12 mb-3">
                <textarea placeholder="Ваш коментар"></textarea>
              </div>
              <div class="col-12 text-right">
                <input type="checkbox" name="first-time" id="first-time">
                <label for="first-time">Перший раз</label>
              </div>
              <div class="col-12 text-right mt-3">
                <a href="#" class="btn btn_red">Записатись</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>