<section class="content-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-4 mb-lg-2 text-center text-lg-left" data-aos="fade-right">
          <h2>Етапи лікування</h2>
        </div>
      </div>
    </div>
    <div class="row etaps justify-content-between">
      <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-5" data-aos="fade-left">
        <div class="dark-text-block red-on-back">
          <h3>
            <span>01</span>
            Огляд
          </h3>
        </div>
        <p>
          Стоматолог підбере для Вас необхідну процедуру, щоб добитись максимальної білосніжності зубів.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-5" data-aos="fade-left">
        <div class="dark-text-block red-on-back">
          <h3>
            <span>02</span>
            Робимо професійну чистку
          </h3>
        </div>
        <p>
          Видаляємо зубний камінь та наліт, очищуємо ротову порожнину від бактерій. 
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-5" data-aos="fade-left">
        <div class="dark-text-block red-on-back">
          <h3>
            <span>03</span>
            Лікування
          </h3>
        </div>
        <p>
          При необхідності пломбуємо зуби або ж заміняємо старі пломби.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-5" data-aos="fade-left">
        <div class="dark-text-block red-on-back">
          <h3>
            <span>04</span>
            Відбілювання зубів
          </h3>
        </div>
        <p>
          Повертаємо  Вашим зубам природну білизну за допомогою інноваційних методів відбілювання без пошкодження емалі. 
        </p>
      </div>
    </div>
  </div>
</section>