<section class="content-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 mb-4 mb-lg-2 pl-0 pl-lg-5 text-center text-lg-left" data-aos="fade-right">
        <h2>Ціни</h2>
      </div>
    </div>
    <div class="row mt-3 justify-content-end">
      <div class="col-auto">
        <select id="prices-filter">
          <option value="cat-1">Загальна стоматологія</option>
          <option value="cat-2">Терапевтична стоматологія</option>
          <option value="cat-3">Хірургічна стоматологія</option>
          <option value="cat-4">Стоматологія ортодонтії</option>
        </select>
      </div>
    </div>
    <!-- Category 1 -->
    <div class="row justify-content-center prices" data-cat="cat-1">
      <div class="col-12 col-lg-8 mt-3 mt-lg-5 bg-light-blue px-3 py-5 px-lg-5" data-aos="fade-left">
        <div class="dark-text-block red-on-back">
          <h3>
            Загальна стоматологія
          </h3>
        </div>
        <ul class="price-list mt-5">
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Огляд, консультація
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Прийом дитячого лікаря-стоматолога (30 хвилин, адаптація дитини до лікування)
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба багатокореневого
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ускладнене видалення молочного зуба
            </span>
            <span>
              200-350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Тимчасове пломбування кореневого каналу кальцієм (багатокореневий зуб)   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ендодонтичне лікування багатокореневих молочних зубів
            </span>
            <span>
              350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Огляд, консультація
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Прийом дитячого лікаря-стоматолога (30 хвилин, адаптація дитини до лікування)
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба багатокореневого   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба при фізіологічній резорбції
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ускладнене видалення молочного зуба
            </span>
            <span>
              200-350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Тимчасове пломбування кореневого каналу кальцієм (багатокореневий зуб)   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ендодонтичне лікування багатокореневих молочних зубів
            </span>
            <span>
              350 грн.
            </span>  
          </li>
        </ul>
      </div>
    </div>
    <!-- /Category 1 -->
    <!-- Category 2 -->
    <div class="row justify-content-center prices" data-cat="cat-2">
      <div class="col-12 col-lg-8 mt-3 mt-lg-5 bg-light-blue px-3 py-5 px-lg-5" data-aos="fade-left">
        <div class="dark-text-block red-on-back">
          <h3>
            Терапевтична стоматологія
          </h3>
        </div>
        <ul class="price-list mt-5">
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Огляд, консультація
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Прийом дитячого лікаря-стоматолога (30 хвилин, адаптація дитини до лікування)
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба багатокореневого
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ускладнене видалення молочного зуба
            </span>
            <span>
              200-350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Тимчасове пломбування кореневого каналу кальцієм (багатокореневий зуб)   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ендодонтичне лікування багатокореневих молочних зубів
            </span>
            <span>
              350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Огляд, консультація
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Прийом дитячого лікаря-стоматолога (30 хвилин, адаптація дитини до лікування)
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба багатокореневого   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба при фізіологічній резорбції
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ускладнене видалення молочного зуба
            </span>
            <span>
              200-350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Тимчасове пломбування кореневого каналу кальцієм (багатокореневий зуб)   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ендодонтичне лікування багатокореневих молочних зубів
            </span>
            <span>
              350 грн.
            </span>  
          </li>
        </ul>
      </div>
    </div>
    <!-- /Category 2 -->
    <!-- Category 3 -->
    <div class="row justify-content-center prices" data-cat="cat-3">
      <div class="col-12 col-lg-8 mt-3 mt-lg-5 bg-light-blue px-3 py-5 px-lg-5" data-aos="fade-left">
        <div class="dark-text-block red-on-back">
          <h3>
            Хірургічна стоматологія
          </h3>
        </div>
        <ul class="price-list mt-5">
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Огляд, консультація
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Прийом дитячого лікаря-стоматолога (30 хвилин, адаптація дитини до лікування)
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба багатокореневого
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ускладнене видалення молочного зуба
            </span>
            <span>
              200-350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Тимчасове пломбування кореневого каналу кальцієм (багатокореневий зуб)   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ендодонтичне лікування багатокореневих молочних зубів
            </span>
            <span>
              350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Огляд, консультація
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Прийом дитячого лікаря-стоматолога (30 хвилин, адаптація дитини до лікування)
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба багатокореневого   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба при фізіологічній резорбції
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ускладнене видалення молочного зуба
            </span>
            <span>
              200-350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Тимчасове пломбування кореневого каналу кальцієм (багатокореневий зуб)   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ендодонтичне лікування багатокореневих молочних зубів
            </span>
            <span>
              350 грн.
            </span>  
          </li>
        </ul>
      </div>
    </div>
    <!-- /Category 3 -->
    <!-- Category 4 -->
    <div class="row justify-content-center prices" data-cat="cat-4">
      <div class="col-12 col-lg-8 mt-3 mt-lg-5 bg-light-blue px-3 py-5 px-lg-5" data-aos="fade-left">
        <div class="dark-text-block red-on-back">
          <h3>
            Стоматологія ортодонтії
          </h3>
        </div>
        <ul class="price-list mt-5">
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Огляд, консультація
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Прийом дитячого лікаря-стоматолога (30 хвилин, адаптація дитини до лікування)
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба багатокореневого
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ускладнене видалення молочного зуба
            </span>
            <span>
              200-350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Тимчасове пломбування кореневого каналу кальцієм (багатокореневий зуб)   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ендодонтичне лікування багатокореневих молочних зубів
            </span>
            <span>
              350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Огляд, консультація
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Прийом дитячого лікаря-стоматолога (30 хвилин, адаптація дитини до лікування)
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба багатокореневого   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Видалення молочного зуба при фізіологічній резорбції
            </span>
            <span>
              100 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ускладнене видалення молочного зуба
            </span>
            <span>
              200-350 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Тимчасове пломбування кореневого каналу кальцієм (багатокореневий зуб)   
            </span>
            <span>
              200 грн.
            </span>  
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <span>
              Ендодонтичне лікування багатокореневих молочних зубів
            </span>
            <span>
              350 грн.
            </span>  
          </li>
        </ul>
      </div>
    </div>
    <!-- /Category 4 -->
  </div>
</section>