<section class="content-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-4 mb-lg-2 text-center text-lg-left" data-aos="fade-right">
          <h2>Лікування у</h2>
        </div>
      </div>
    </div>
    <div class="row" data-aos="fade-down">
      <div class="col-12">
        <div class="dark-text-block">
          <img src="assets/img/logo.png" alt="prima dent" class="img-fluid">
          <p>
            починається із знайомства з Вашим особистим стоматологом, який стане не просто зубним лікарем, а другом, і допоможе подолати страх перед процедурами. Ми вислухаємо всі Ваші побажання та почуємо все, що Вас турбує; зробимо Вашу усмішку ідеальною та здоровою. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>