{{#footer}}
<footer class="footer">
  <div class="main-banner__bottom-panel">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <ul class="main-banner__socials d-flex align-items-center d-lg-block">
              <li>
                <a href="#">
                  <img src="assets/img/logo-white.svg" alt="logo" class="img-fluid logo">
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-insta-solid"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-facebook-solid"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn_3d-tour">
                  3D тур
                </a>
              </li>
            </ul>
            <ul class="main-banner__contacts mt-4 mt-md-0">
              <li class="d-block d-sm-inline-block">
                <i class="icon icon-mail-solid"></i>
                <a href="mailto:info@primadent.com.ua">info@primadent.com.ua</a>
              </li>
              <li class="d-block d-lg-inline-block">
                <i class="icon icon-phone"></i>
                <a href="tel:0985757574">098-57-57-57-4</a>
                <a href="tel:0735757574">073-57-57-57-4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{{/footer}}