{{#error}}
{{> templates/head-simple }}
  <div class="full-screen-wrapper">
    <div class="dark-square">
      <img src="assets/img/logo-white.svg" alt="logo">
    </div>
    <div class="thanks-text text-center mb-0">
      <p>Ви успішно заповнили форму</p>
      <h1>404</h1>
    </div>
    <a href="#" class="btn btn_red mt-5">на Головну сторінку</a>
  </div>  
{{> templates/foot }}
{{/error}}