{{#about}}
  {{> templates/head }}
    {{> templates/header/index-header }}
    {{> templates/main-banner/inner-pages-banner }}
    {{> templates/sections/about-description }}
    {{> templates/sections/about-photogallery }}
    {{> templates/sections/about-3d-tour }}
    {{> templates/sections/about-technology }}
    {{> templates/sections/about-reviews }}    
    {{> templates/sections/services-contacts }}
    {{> templates/sections/index-map }}
    {{> templates/footer/index-footer }}
  {{> templates/foot }}
{{/about}}