{{#doctors}}
  {{> templates/head }}
    <!-- {{> templates/preloader }} -->
    {{> templates/header/index-header }}
    {{> templates/main-banner/inner-pages-banner }}
    {{> templates/sections/doctor-items }}
    {{> templates/sections/about-reviews }}
    {{> templates/sections/services-contacts }}
    {{> templates/sections/index-map }}
    {{> templates/footer/index-footer }}
  {{> templates/foot }}
{{/doctors}}