{{#home}}
  {{> templates/head }}
  <!-- {{> templates/preloader }} -->
  {{> templates/header/index-header }}
  {{> templates/main-banner/index-main-banner }}
  {{> templates/sections/index-about-us }}
  {{> templates/sections/index-services }}
  {{> templates/sections/index-team }}
  {{> templates/sections/index-reviews }}
  {{> templates/sections/index-contacts }}
  {{> templates/sections/index-map }}
  {{> templates/footer/index-footer }}
  {{> templates/foot }}
{{/home}}