{{#registered}}
  {{> templates/head }}
    {{> templates/preloader }}
    {{> templates/header/registered-header }}
    {{> templates/sections/registered-block }}
    {{> templates/footer/index-footer }}
  {{> templates/foot }}
{{/registered}}