{{#services}}
  {{> templates/head }}
    {{> templates/header/index-header }}
    {{> templates/main-banner/inner-pages-banner }}
    {{> templates/sections/services-description }}
    {{> templates/sections/index-services }}
    {{> templates/sections/services-team }}
    {{> templates/sections/services-price }}
    {{> templates/sections/about-reviews }}
    {{> templates/sections/services-contacts }}
    {{> templates/sections/index-map }}
    {{> templates/footer/index-footer }}
  {{> templates/foot }}
{{/services}}