{{> templates/head }}
  <!-- {{> templates/preloader }} -->
  <div class="full-screen-wrapper">
    <img src="assets/img/thanks.png" alt="thanks" class="img-fluid">
    <a href="#" class="btn btn_red mt-2">на Головну</a>
  </div>  
{{> templates/foot }}