{{#thanks}}
{{> templates/head-simple }}
  <div class="full-screen-wrapper">
    <div class="dark-square">
      <img src="assets/img/logo-white.svg" alt="logo">
    </div>
    <div class="thanks-text text-center">
      <p>Ви успішно заповнили форму</p>
      <p>Дякуємо за ваш запис!</p>
    </div>
    <a href="#" class="btn btn_red mt-2">на Головну сторінку</a>
  </div>  
{{> templates/foot }}
{{/thanks}}