{{#main-banner}}
<section class="main-banner">
  <!-- Slider Arrows -->
  <div class="arrows-container d-none d-sm-block">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="position-absolute w-100">
            <a href="#" class="btn btn_main-carousel-prev"></a>
            <a href="#" class="btn btn_main-carousel-next"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Slider Arrows -->
  <div class="main-banner__carousel">
    {{#slides}}
    <div class="main-banner__carousel-slide">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12">
            <div class="slide-image" style="background-image: url(assets/img/{{slide-name}});"></div>
          </div>
        </div>
      </div>
    </div>
    {{/slides}}
  </div>
  <div class="main-banner__bottom-panel">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center">
            <ul class="main-banner__socials d-none d-lg-inline-block">
              <li>
                <a href="#">
                  <i class="icon icon-insta-solid"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-facebook-solid"></i>
                </a>
              </li>
            </ul>
            <div class="dots-place position-relative d-none d-lg-inline-block"></div>
            <a href="#" class="btn btn_3d-tour d-none d-lg-inline-block">
              3D тур
            </a>
            <ul class="main-banner__contacts">
              <li class="d-block d-sm-inline-block">
                <i class="icon icon-mail-solid"></i>
                <a href="mailto:info@primadent.com.ua">info@primadent.com.ua</a>
              </li>
              <li class="d-block d-lg-inline-block">
                <i class="icon icon-phone"></i>
                <a href="tel:0985757574">098-57-57-57-4</a>
                <a href="tel:0735757574">073-57-57-57-4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/main-banner}}